# CRT TRAININGS
## Day:-16-12-2019
### Day 6

In [18]:
li=[1, 23, 123, 34, 62, 95, 13, 57, 239, 87, 332, 64, 234, 654, 5]
print(li)
print(li[3])
print(li[1:7])
print(li[1:9:2])
print(li[-1::])

[1, 23, 123, 34, 62, 95, 13, 57, 239, 87, 332, 64, 234, 654, 5]
34
[23, 123, 34, 62, 95, 13]
[23, 34, 95, 57]
[5]

In [19]:
li[1]=12
li

[1, 12, 123, 34, 62, 95, 13, 57, 239, 87, 332, 64, 234, 654, 5]

In [28]:
del li[-2]
li

[1, 12, 123, 34, 62, 95, 13, 57, 5]

In [29]:
# Basic List Operation
len(li)

9

In [30]:
#List Repetion
li*2

[1, 12, 123, 34, 62, 95, 13, 57, 5, 1, 12, 123, 34, 62, 95, 13, 57, 5]

In [32]:
#To Check Certain Element is Present or Not In The Given List
print(34 in li)

True

In [33]:
# Print Element in The List
for i in li:
    print(i)

1
12
123
34
62
95
13
57
5

In [36]:
for i in range (len(li)):
    print(i)

0
1
2
3
4
5
6
7
8

In [39]:
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/len(li))

123
1
402
44.666666666666664

In [42]:
li.append(24)
li

[1, 12, 123, 34, 62, 95, 13, 57, 5, 24, 24]

In [43]:
li.insert(5,87)
li

[1, 12, 123, 34, 62, 87, 95, 13, 57, 5, 24, 24]

In [48]:
li1=["gitam", "Welcome", "Hello"]
li1.extend(li)
li1

['gitam', 'Welcome', 'Hello', 1, 12, 123, 34, 62, 87, 95, 13, 57, 5, 24, 24]

In [50]:
print(max(li))

123

In [56]:
k=0
for i in li:
    if(k<i):
        k=i
print(k)

123